.content-folder {
  background-image: url("~src/assets/What-is-Ethereum.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 120px);
}

.disabled {
  opacity: 0.4;
}

.popup-wrapper {
  display: grid;
  place-content: center;
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(48,48,48, 0.4);
}

.popup-content {
  width: 275px;
  height: max-content;
  border-radius: 1.5rem;
  display: grid;
  grid-gap: 1rem;
  place-content: center;
  padding: 1.5rem;
  text-align: center;
}
