.content-folder {
  background-image: url("~src/assets/What-is-Ethereum.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 120px);
}

.disabled {
  opacity: 0.4;
}

