<ng-container *ngIf="promocode; else mainZone">
  <div class="popup-wrapper">
    <div class="popup-content mat-app-background">
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label class="popup-title">insert your promocode</mat-label>
        <input matInput type="text" [(ngModel)]="promocodeValue">
        <button *ngIf="promocodeValue" matSuffix mat-icon-button aria-label="Clear" (click)="promocodeValue=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <button mat-raised-button color="primary" class="h6" (click)="sendPromocode()">Send Promocode</button>
      <button mat-raised-button color="primary" class="h6" (click)="closePromocode()">Close</button>
    </div>
  </div>
</ng-container>

<ng-template #mainZone>
  <p>Ticket Price is: {{ticketPrice}}<i class='fab fa-ethereum' *ngIf="ticketPriceAsBigInt"></i></p>

  <div class="main-buttons-container">
    <button *ngFor="let button of depositButtons" mat-raised-button class="h6 deposit-button"
            [disabled]="depositIsDisable(balance$ | async, ticketPriceAsBigInt)"
            (click)="makeDeposit(getDepositValue(ticketPrice, button))">
  <span class="button-content">
    <img alt="loader" src="assets/ether_coin_loader.gif">
    <span *ngIf="ticketPriceAsBigInt">{{getDepositPrice(ticketPrice, button)}}
      <i class='fab fa-ethereum'></i>
    </span>
  </span>
    </button>
  </div>

  <div class="footer">
    <button mat-raised-button color="primary" class="h6"
            [disabled]="depositIsDisable(balance$ | async, ticketPriceAsBigInt)"
            (click)="usePromocode()">
      I have a Promocode
    </button>

    <button mat-raised-button color="primary" class="h6"
            [disabled]="balanceIsNegative(balance$ | async)"
            (click)="withdrawMoney()">Withdraw money
    </button>
  </div>
</ng-template>
