<ng-container *ngIf="isBuyTime">
  <p class="row h4 text-center">Current ticket price: {{ticketPrice}} <i class='fab fa-ethereum' style='font-size:24px'></i></p>
  <button mat-raised-button color="primary" class="h6" (click)="startGame()">Buy tickets and play game</button>
</ng-container>

<ng-container *ngIf="isCountDownTime">
  <p class="row h4 text-center">Time to start: {{timeToStart}}</p>
  <p class="row h4">Yo have: {{boughTickets}} bought tickets</p>
</ng-container>

<ng-container *ngIf="isPlayTime">
<p class="row h4 text-center">calledBalls</p>
<swiper [direction]="'horizontal'" [slidesPerView]="9">
  <ng-template swiperSlide *ngFor="let balls of calledBalls">
    <div class="number">
      {{balls}}
    </div>
  </ng-template>
</swiper>

<mat-card>
  <mat-card-title class="text-center">
    Win Board
  </mat-card-title>
  <mat-card-content class="board">
    <div *ngFor="let row of ticket" class="row">
      <div *ngFor="let number of row; let i = index; trackBy: trackByNumber" class="number" [ngClass]="{'warn': ballIsCalled(number)}">
        {{number}}
      </div>
    </div>
  </mat-card-content>
</mat-card>

<swiper [direction]="'horizontal'" [slidesPerView]="5">
  <ng-template swiperSlide *ngFor="let board of boards">
    <mat-card>
      <mat-card-header>
        {{board.id}}
      </mat-card-header>
    </mat-card>
  </ng-template>
</swiper>
</ng-container>

<ng-container *ngIf="isWonTime">
  <p class="row h4 mat-primary text-center">Congratulate! You won</p>
  <button mat-raised-button color="primary" class="h6" [routerLink]="''">Back to main page</button>
  <button mat-raised-button color="primary" class="h6" (click)="startNewGame()">Start new game</button>
</ng-container>
